<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Decrypt data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>
<body>
<div class="content-wrapper">
    <div class="content">
        <form target="" method="post" class="pure-form-stacked">
            <fieldset>
                <label>Password:
                    <input type="password" name="password">
                </label>
                <input type="submit" name="submit" value="delete" class="pure-button pure-button-primary">
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>